section {
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0vh;
    background-color: rgba(112, 93, 93, 0.267);
}   

.cancel-order-container {
    position: fixed;
    height: 200px;
    width: 400px;
    background-color: aliceblue;
    opacity: 100%;
    top: 30vh;
    left: 33vw;
}

.cancel-header {
    height: 33px;
    background-color: rgb(91, 104, 227);;
    padding-top: 4px;
    padding-bottom: 0px;
    color: white;
}

.alert-window {
    display: inline;
    margin: 0;
    padding-top: 20px;
    padding-left: 7px;
}

section > .cancel-order-container > .cancel-header > i {
    float: right;
    padding-right: 9px;
    padding-top: 5px;
}

section > .cancel-order-container > .cancel-header > i:hover {
    cursor: pointer;
    transform: scale(1.2);
}

section > .cancel-order-container > .alert-body > .alert-sign {
    /* position: absolute; */
    float: left;
    width: 4vw;
    height: 16.2vh;
    color: red;
    padding-left: 2vw;
    padding-top: 9.4vh;
}

section > .cancel-order-container > .alert-body > .alert-msg-body {
    padding-top: 40px;
    align-items: center;
    justify-content: center;
}

section > .cancel-order-container > .alert-body > .alert-msg-body > .cancel-order-btn {
    padding-top: 10px;
    padding-left: 160px;
}

section > .cancel-order-container > .alert-body > .alert-msg-body > .cancel-order-btn > button {
    width: 90px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid rgb(91, 104, 227);
    color: rgb(102, 112, 201);
}

section > .cancel-order-container > .alert-body > .alert-msg-body > .cancel-order-btn > button:hover {
    cursor: pointer;
    
}