
.login-container {

    display: flex;
}

.half,
.half-s {
    
    width: 50%;
    height: 87vh;
}

.half-s {
    position:  relative;
    z-index: 1;
    background: #B9C0FD1A 0% 0% no-repeat padding-box;
    height: 87vh;
    opacity: 1;
}

.para-line-1,
.line2,
.line-3,
.regitr-btn {
    margin-left: 25%;
    opacity: 1;
}

.para-line-1 {
    margin-top: 15%;
    width: 40vw;
    text-align: left;
    font: normal normal 900 60px/80px Avenir;
    letter-spacing: 0px;
    color: #5861AE;
    text-transform: capitalize;
}

.line2 {

    text-align: left;
    font: normal normal normal 20px/26px Avenir;
    letter-spacing: 0.8px;
    color: #565657;
    text-transform: capitalize;

}

.line-3 {
    margin-top: 10%;

    text-align: left;
    font: normal normal normal 16px/26px Avenir;
    letter-spacing: 0.64px;
    color: #565657;
    text-transform: capitalize;

}

.regitr-btn {
    cursor: pointer;
    width: 120px;
    height: 40px;
    border: 2px solid #4552C1;
    border-radius: 4px;
    text-align: center;
    font: normal normal bold 15px/20px Open Sans;
    letter-spacing: 0.3px;
    color: #4552C1;
}

.form-head,
.login-form {
    margin-left: 15%;
}

.form-head {
    margin-top: 15%;
    width: 50%;
    font-size: 35px;
    height: 50px;
    text-align: left;
    margin-bottom: 8%;
    letter-spacing: 1.28px;
    color: #4552C1;
    text-transform: uppercase;
    opacity: 1;
}

.form-email,
.form-email-error,
.form-pwd-error,
.red-alert,
.form-pwd {
    width: 322px;
    height: 27px;
    display: flex;
    border: 0;
    border-bottom: 1px solid #989898;
    margin-bottom: 10%;
    width: 60%;
    text-align: left;
    font: normal normal normal 17px/27px Open Sans;
    letter-spacing: 0.6px;
    color: #77838F;
    background-color: #B9C0FD1A;
    cursor: pointer;
}

.form-pwd,
.form-pwd-error {
    display: flexbox;
    float: left;
    margin-bottom: 15%;
}

input[type="text"],
input[type="password"],
input[type="number"],
input[type="email"],
input[type="tel"],
textarea,
select {
    
    outline: none;
}

.form-email:hover,
.form-email-error:hover,
.form-pwd-error:hover,
.form-pwd:hover {
    
    border-bottom: 1px solid#4552C1;
}

.submit-sign-in {
    width: 150px;
    height: 50px;
    cursor: pointer;
    border: 0;
    background: #4552C1 0% 0% no-repeat padding-box;
    border-radius: 4px;
    text-align: center;
    font: normal normal bold 15px/20px Open Sans;
    letter-spacing: 0.3px;
    color: #FFFFFF;
    opacity: 1;
    margin-left: 15%;
}

.side-line {
    position: relative;
    right: 17.2%;
    padding-left: 8.5%;
    border-left: 2px solid #4552C1;
    display: flexbox;
    flex-wrap: wrap;
    flex-direction: column;
}
.form-email-error ,
.form-pwd-error{
    color: Red;
}

.loading {
    position: absolute;
    top: 0;
    left: 42%;
    background: transparent;
}

.e-message {
    color: red;
    position: absolute;
    left: 15%;
    bottom: 120%;
}
.forgot-pwd{
    margin-top: 20px;
    position: relative;
    right: 37%;
    color: #4552C1;
    cursor: pointer;
}
.forgot-pwd:hover{
    color: red;
}

@media screen and (max-width:600px){
    .para-line-1 {
       font-size: 20px;

    }
    .line2,.line-3 ,.regitr-btn{
        font-size: small;
        width: auto;
    }
    .form-head{
        font-size: large;
    }
    .form-email,.form-pwd{
        width: 110px;
    }
    .submit-sign-in{
        width: auto;
    }

}
@media screen and (max-width:786px){
    .para-line-1 {
       font-size: 30px;

    }
    .line2,.line-3 ,.regitr-btn{
        font-size: small;
        width: auto;
    }
    .form-head{
        font-size: large;
    }
    .form-email,.form-pwd{
        width: 110px;
    }
    .submit-sign-in{
        width: auto;
    }

}