.head-nav-bar {
    display: flex;
    width: 100%;
    height: 375%;
    background-color: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 2px 48px #0000000F;
    opacity: 1;
}

.app-name {
    cursor: pointer;
    margin-right: 50%;
    margin-left: 10%;
    text-align: left;
    font: normal normal 900 25px/25px Avenir;
    letter-spacing: 1.8px;
    color: #5861AE;
    text-transform: uppercase;
    opacity: 1;
}

.btn-home,
.btn-price,
.btn-career,
.btn-sign-in {
    cursor: pointer;
    width: 113px;
}

.btn-sign-in {
    background: #5861AE 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border: 0;
    opacity: 1;
    font: normal normal medium 14px/19px Avenir;
    letter-spacing: 1.05px;
    color: #FFFFFF;
    text-transform: capitalize;
}

.btn-home,
.btn-price,
.btn-career {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;
    text-align: center;
    font: normal normal normal 14px/19px Avenir;
    letter-spacing: 1.05px;
    color: #565657;
    text-transform: capitalize;
    border: 0;
    border-left: 1px solid lightgrey;
}