.heading{
    margin-top: 15%;
    margin-left: 15%;
    width: auto;
    font-size: 35px;
    height: 50px;
    text-align: left;
    margin-bottom: 8%;
    letter-spacing: 1.28px;
    color: #4552C1;
    text-transform: uppercase;
    opacity: 1;
}