/* OrderPageHeader CSS */

.orders-top-bar {
    padding: 2rem;
    padding-bottom: 1rem;
}

.orders-num {
    padding-left: 2rem;
}

.search {
    float: right;
    border: 1px solid rgb(88, 97, 174);
    color: rgb(88, 97, 174);
}

.search-bar {
    float: right;
    position: relative;
    width: 10vw;
    height: 5vh;
    padding: 0 40px 0 10px;
    background-color: #fff;
    border-top: rgb(255, 255, 255);
    border-left: rgb(255, 255, 255);
    border-right: rgb(255, 255, 255);
}

.search-bar:focus {
    outline: none;
    border-color: #333;
}

.search-icon {
    position: absolute;
    top: 19vh;
    right: 15.5vw;
    transform: translateY(-50%);
    font-size: 18px;
    color: #333;
}


/**********************************************************************************/
/* zero Page Design */

.zero-order-page-main {
    display: flex;
    height: 90vh;
    align-items: center;
    justify-content: center;
}

p {
    margin: 0;
}

.create-btn {
    padding: 4px;
    width: 100px;
    border-radius: 5px;
    border: 1px solid transparent;
    border: 1px solid rgb(91, 104, 227);
    color: rgb(102, 112, 201);
    position: relative;
    top: 5vh;
    right: 7vw;
}

.create-btn:hover {
    cursor: pointer;
}

/**********************************************************************************/
/* Some Order Main Page */

.some-create-btn {
    padding: 4px;
    width: 90px;
    border-radius: 5px;
    border: 1px solid transparent;
    border: 1px solid rgb(91, 104, 227);
    color: rgb(102, 112, 201);
    position: relative;
    left: 63vw;
    top: 1.1vh;
}

table {
    border-collapse: collapse;
    margin-top: .5rem;
    margin-left: 5rem;
    margin-right: 3rem;
}

.table-header {
    color: white;
}

.table-header>tr>td {
    padding: 0px;
}

td {
    padding: 12px;
    text-align: center;
}

.some-order-page-main>table>.table-header>tr>td {
    width: 200px;
    height: 35px;
}

.table-body {
    background-color: RGB(205 217 229);
}

.table-body:nth-child(2n+1) {
    background-color: white;
}


.cancel-order:hover,
.view-details:hover {
    cursor: pointer;
    color: red;
}

/* .view-details {
    cursor: pointer;
} */  