#orderPg{
    background-color: rgba(245, 245, 245, 1);
  }
  .container{
      top: 119px;
      left: 100px;
      width: 1370px;
      height: 5px;
      margin-top: 25px;
      float: right;
      /* border: 2px solid gray; */
  }
  .orderno{
      text-align: left;
      margin-top: -10px;
      margin-left: 20px;
      font: normal normal 600 18px/48px Open Sans;
      font-family: sans-serif;
      letter-spacing: 0px;
      color: #1E2022;
      text-transform: capitalize;
      opacity: 1;
  }
  .searchBox{
      float: right;
      margin-top: -55px;
      margin-right: 20px;
  }
  #searchInput{
      padding-left: 20px;
      border: none;
      border-bottom: 2px solid rgb(184, 182, 182);
  }
  .magnifine{
    position: relative;
    left: 20px;
    width: 1rem;
  }
  
  #product{
    top: 176px;
    left: 108px;
    width: 1295px;
    height: 50px;
      /* UI Properties */
      background: #FFFFFF 0% 0% no-repeat padding-box;
      /* border: 1px solid #E0E0E0; */
      border-radius: 2px;
      opacity: 1;
      float: right;
      margin-top: 40px;
      margin-right: -20px;
  }
  #head-row{
      background-color: #2F2F2F;
      color: #FFFFFF;
      display: flex;
      height: 60px;
  }
  .B-container {
      display: flex;
      justify-content: end;
      padding: 1rem 0;
      width: 100%;
  }
  
  .button {
    margin-left: 1rem;
    padding: 0.25rem 1rem;
    border: 2px solid #5861AE;
    border-radius: 4px;
    color: #5861AE;
    background-color: white;
  }
  .button:hover{
    background-color: #5861AE;
    color: white;
  }
  
  #item-row{
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
    border: 1px solid rgba(112, 112, 112, 0.2);
    border-top: none;
    height: 80px;
    margin-left: 20pz;
  }
  .imageDivision{
    display: flex;
    width: 15%;
  }
  .itemImg{
    
    width: 45px;
    height: 50px;
    margin-left: 10px;
    margin-top: 10px;
  }
  #item1, .imageDivision{
    width: 21%;
  }
  #item2 {
    width: 21%;
  }
  #item3 {
    width: 37%;
  }
  #item4, .price {
    width: 21%;
  }
  .inputDivision{
    width: 17%;
  }
  .para{
    margin-left:5px ;
  }
  .inputNum{
    display: flex;
    width: 4rem;
    height: 2rem;
    border: 1px solid #5861AE;
    border-radius: 2px;
  }
  .quantityNum{
    position: relative;
    bottom: 10px;
    text-align: center;
    border: none;
    width: 80%;
    height: 75%;
    margin-top: 13px;
    margin-left: 5px;
  }
  .washDivision{
    width: 42%;
    display: flex;
    justify-content: space-around;
  }
  .washImg{
    height: 50%;
  }
  #price {
    margin-left: 50px;
    display: flex;
  }  
  .PerItemTotalPrice{
    font-weight: bold;
    padding-left: 5px;
  }
  .itemPrice{
    font-weight: bold;
    padding-left: 5px;
    color: #5861AE;
  }
  .resetButton{
    border: 1px solid #5861AE;
    background-color: #FFFFFF;
    color: #0e0e0f;
    padding: 5px 15px;
    margin-left: 10px;
    border-radius: 20px;
  }
  .resetButton:hover{
    background-color: #5861AE;
  }
  